@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,greek-ext,devanagari,cyrillic,latin-ext,vietnamese,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Noto+Serif:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic|Quando);
html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body { 
	margin: 0;
	padding: 0;
	background: #ed1c24;
	transition: background 200ms ease;
	-moz-transition: background 200ms ease;
	-webkit-transition: background 200ms ease;
	
}
body * {
	text-rendering: geometricPrecision;
}
main {

}
section {
	position: relative;
	display: table;
	width: 100%;
}
header {
	z-index: 200;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
	transition: height 400ms ease-in-out, opacity 150ms ease;
	-moz-transition: height 400ms ease-in-out, opacity 150ms ease;
	-webkit-transition: height 400ms ease-in-out, opacity 150ms ease;
}
header .vert a {
	display: table;
	margin: auto;
}
header .vert a img.logo {
	width:400px;
	transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
}
.openFooter header#text {
	opacity: 0;

}
header.fixed {
	height: 120px;
}
header.fixed a img.logo {
	width:190px;
}
#startTxt {
	position: absolute;
	left: 0;
	width: 100%;
}
#startBtn {
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 20px;
}
#startBtn:hover {
	cursor: pointer;
}


#detection {
	display: table-cell;
	vertical-align: middle;
}
#detection .inner, #detection #circle{
	width: 359px;
	height: 400px;
	display: block;
	margin: auto;
	position: relative;
}
#detection #bar {
	position: absolute;
	left: 0;
<<<<<<< HEAD
	bottom: 100px;
	width: 100%;
	height: 0;
	background: url(img/bar.png);
	background-repeat: repeat-y;
	background-size: 15px 1px;
=======
	top: 0;
	height: 100%;
	width: 0;
	background: url(/img/bar.png);
	background-repeat: repeat-x;
	background-size: 1px 10px;
>>>>>>> master
	background-position: center;
	transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-webkit-transition: all 300ms ease-in;
}
.match #detection #bar {
	width: 300px;
}
#smiley {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	display: table;
	z-index: 100; /*in front of webcam*/
	opacity: 0;
	background: transparent;
	transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-webkit-transition: all 150ms ease-in-out;
}
.show #smiley {
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
}
.instructing #smiley {
	opacity: 1;
	background: white;
}
#detection .inner #smiley img {
	width: 230px;
	height: 230px;
	display: table;
	margin: auto;
}

#detectionOverlay {
	position: absolute;
	display: table;
	z-index: 100;
}
#detectionOverlay canvas#face { 
	/*width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;*/
	/*display: none;*/
}
#webcam {
	display: block;
	position: absolute;
	z-index: 99;
}
.instructing #webcam {
	display: none;
}
#face.hide {
	opacity: 0;
}
.scanning #webcam {
	opacity: 1;
}
.match #circle {
	transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-webkit-transition: all 250ms ease-in-out;
	transform: scale(.5) translateX(-325px);
	-moz-transform: scale(.5) translateX(-325px);
	-webkit-transform: scale(.5) translateX(-325px);
}
#circle {
	shape-padding: 15px;
	shape-inside: circle(0% at 50% 50%);
  	-webkit-clip-path: circle(0% at 50% 50%);
  	overflow: hidden;
}
#circle.open {
	background: white;
	animation: openCam 800ms linear 1 forwards;
	-webkit-animation: openCam 800ms linear 1 forwards;
}
#circle.close {
	animation: closeCam 600ms linear 1 forwards;
	-webkit-animation: closeCam 600ms linear 1 forwards;
}
#match{
	position: absolute;
	top: 35px;
	left: 250px;
	width: 100%;
	height: 300px;
}
#matchCircle { 
	display: table;
	margin: auto;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: white;
	transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	border: solid 10px white;
}
.match #matchCircle { 
	transition: transform 250ms ease-in-out 300ms;
	-moz-transition: -moz-transform 250ms ease-in-out 300ms;
	-webkit-transition: -webkit-transform 250ms ease-in-out 300ms;

	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
}

@-webkit-keyframes openCam {
  0% {
    shape-inside: circle(0% at 50% 50%);
  	-webkit-clip-path: circle(0% at 50% 50%);
  }
  50% {
    shape-inside: circle(41% at 50% 50%);
  	-webkit-clip-path: circle(41% at 50% 50%);
  }
  70% {
    shape-inside: circle(38% at 50% 50%);
  	-webkit-clip-path: circle(38% at 50% 50%);
  }
  90% {
    shape-inside: circle(41% at 50% 50%);
  	-webkit-clip-path: circle(41% at 50% 50%);
  }
  100% {
    shape-inside: circle(40% at 50% 50%);
  	-webkit-clip-path: circle(40% at 50% 50%);
  }
}

@keyframes openCam {
  0% {
    shape-inside: circle(0% at 50% 50%);
  	clip-path: circle(0% at 50% 50%);
  }
  50% {
    shape-inside: circle(41% at 50% 50%);
  	clip-path: circle(41% at 50% 50%);
  }
  70% {
    shape-inside: circle(38% at 50% 50%);
  	clip-path: circle(38% at 50% 50%);
  }
  90% {
    shape-inside: circle(41% at 50% 50%);
  	clip-path: circle(41% at 50% 50%);
  }
  100% {
    shape-inside: circle(40% at 50% 50%);
  	clip-path: circle(40% at 50% 50%);
  }
}
@-webkit-keyframes closeCam {
  0% {
    shape-inside: circle(40% at 50% 50%);
  	-webkit-clip-path: circle(40% at 50% 50%);
  }
  50% {
    shape-inside: circle(41% at 50% 50%);
  	-webkit-clip-path: circle(41% at 50% 50%);
  }
  70% {
    shape-inside: circle(38% at 50% 50%);
  	-webkit-clip-path: circle(38% at 50% 50%);
  }
  90% {
    shape-inside: circle(41% at 50% 50%);
  	-webkit-clip-path: circle(41% at 50% 50%);
  }
  100% {
    shape-inside: circle(0% at 50% 50%);
  	-webkit-clip-path: circle(0% at 50% 50%);
  }
}
@keyframes ocloseCam {
  0% {
    shape-inside: circle(40% at 50% 50%);
  	clip-path: circle(40% at 50% 50%);
  }
  50% {
    shape-inside: circle(41% at 50% 50%);
  	clip-path: circle(41% at 50% 50%);
  }
  70% {
    shape-inside: circle(38% at 50% 50%);
  	clip-path: circle(38% at 50% 50%);
  }
  90% {
    shape-inside: circle(41% at 50% 50%);
  	clip-path: circle(41% at 50% 50%);
  }
  100% {
    shape-inside: circle(0% at 50% 50%);
  	clip-path: circle(0% at 50% 50%);
  }
}

section#authorize #notifications {
	position: absolute;
	width: 100%;
}
section#authorize #notifications div {
	display: table;
	margin: auto;
	text-align: center;
	font-weight: 400;
	color: white;
	font-family: 'Noto Sans', serif;
}
#notifications #head {
	font-size:23px;
}
#notifications #sub {
	font-size:17px;
	padding-top: 8px;
}
#notifications .click:hover {
	cursor: pointer;
}
.closeBanner {
	width: 100%;
	height: 140px;
	color: transparent;
	transition: height 130ms cubic-bezier(.26,.64,.58,.92);
	-moz-transition: height 130ms cubic-bezier(.26,.64,.58,.92);
	-webkit-transition: height 130ms cubic-bezier(.26,.64,.58,.92);
}
.closeBanner:hover {
	cursor: pointer;
	height: 145px;
	transition: height 130ms cubic-bezier(.6,.42,.68,.63);
	-moz-transition: height 130ms cubic-bezier(.6,.42,.68,.63);
	-webkit-transition: height 130ms cubic-bezier(.6,.42,.68,.63);
}
#footerPages {
	position: fixed;
	z-index: 300;
	bottom: -200%;
	left:0;
	width: 100%;
	height: 100%;
	transition: all 360ms cubic-bezier(.51,.36,0,1.02);
	-moz-transition: all 360ms cubic-bezier(.51,.36,0,1.02);
	-webkit-transition: all 360ms cubic-bezier(.51,.36,0,1.02);
	transform-style: preserve-3d;
	perspective: 1000px;
}
.openFooter #footerPages {
	bottom:0;
}
.footerPage {
	position: absolute;
	top: 100%;
	z-index: 200;
	width: 100%;
	height: 100%;
	color:white;
	padding: 0;
	overflow-y:scroll;
	transition: all 360ms cubic-bezier(.51,.36,0,1.02);
	-moz-transition: all 360ms cubic-bezier(.51,.36,0,1.02);
	-webkit-transition: all 360ms cubic-bezier(.51,.36,0,1.02);
}
.footerPage.open {
	top: 0;
}
.footerPage .content {
	background: rgba(252,53,134,.5);
	width: 100%;
	padding-bottom: 30px;

	box-shadow: 0 0 90px 40px rgba(252,53,134,.5);
	-moz-box-shadow: 0 0 70px 40px rgba(252,53,134,.5);
	-webkit-box-shadow: 0 0 70px 40px rgba(252,53,134,.5);
	
	transition: transform 360ms cubic-bezier(.51,.36,0,1.02) 50ms;
	-moz-transition: transform 360ms cubic-bezier(.51,.36,0,1.02) 50ms;
	-webkit-transition: transform 360ms cubic-bezier(.51,.36,0,1.02) 50ms;

	transform: rotateX(50deg) scale(1.2);
	-moz-transform: rotateX(50deg) scale(1.2);
	-webkit-transform: rotateX(50deg) scale(1.2);
}
.openFooter .footerPage .content {
	transform: rotateX(0deg) scale(1);
	-moz-transform: rotateX(0deg) scale(1);
	-webkit-transform: rotateX(0deg) scale(1);
	background: rgba(252,53,134,1);
	box-shadow: 0 0 90px 40px rgba(252,53,134,1);
	-moz-box-shadow: 0 0 70px 40px rgba(252,53,134,1);
	-webkit-box-shadow: 0 0 70px 40px rgba(252,53,134,1);
}
.footerPage .content .inner {
	margin: 0 auto 60px auto;
	display: table;
	padding: 0 20px;
	max-width: 800px;
}
.footerPage .content img.logo#logo-sym {
	width: 200px;
	display: table;
	margin: 30px auto;
	display:none;
}
.footerPage h1 {
	font-family: 'Noto Sans', serif;
	font-weight: 700;
	font-size: 55px;
	margin: 0 auto 30px auto;
	padding: 0;
	display: table;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.footerPage h2 {
	font-family: 'Quando', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 22px;
	margin: 0;
	padding: 0;
	display: inline;
}
.footerPage h2::after {
	content: ' — ';
}
.footerPage span {
	letter-spacing: 1px;
	font-family: 'Quando', serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	text-align: justify;
    text-justify: inter-word;
    margin:5px 0 20px 0;
    display: inline-block;
    max-width: 800px;
}
.footerPage span::selection {
  background: #ed1c24;
}
.footerPage span::-moz-selection {
  background: #ed1c24;
}


footer {
	background: rgba(252,53,134,.5);
	position: fixed;
	bottom:0px;
	left:0;
	z-index: 9000;
	width: 100%;
	height: 20px;
	padding-bottom:10px;
	display: table;
	box-shadow: 0 0 50px 25px rgba(252,53,134,.5);
	-moz-box-shadow: 0 0 50px 25px rgba(252,53,134,.5);
	-webkit-box-shadow: 0 0 50px 25px rgba(252,53,134,.5);


	transition: box-shadow 360ms ease-in-out, background 360ms ease-in-out;
	-moz-transition: -moz-box-shadow 360ms ease-in-out, background 360ms ease-in-out;
	-webkit-transition: -webkit-box-shadow 360ms ease-in-out, background 360ms ease-in-out;
}
.openFooter footer {
	background: rgba(252,53,134,1);
	box-shadow: 0 0 50px 25px rgba(252,53,134,1);
	-moz-box-shadow: 0 0 50px 25px rgba(252,53,134,1);
	-webkit-box-shadow: 0 0 50px 25px rgba(252,53,134,1);
}
footer.show {
}
footer .toggle {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100px;
	text-align: center;
	display: none;
}
footer .links {
	display: table-cell;
	vertical-align: middle;
}
footer .links ul {
	display: table;
	margin: auto;
	padding: 0;
	list-style: none;
}
footer .links ul li {
	float: left;
	padding: 10px 30px;
}
footer .links ul li a {
	color:rgba(255,255,255,.6);
	text-decoration: none;
	font-size: 25px;
	font-family: 'Noto Sans', serif;
	font-weight: 400;
	letter-spacing: 1px;
	transition: all 200ms ease-in-out !important;
	-moz-transition: all 200ms ease-in-out !important;
	-webkit-transition: all 200ms ease-in-out !important;
}
footer .links ul li a.selected {
	transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	color:rgba(255,255,255,.85);
}
footer:hover .links ul li a {
	color:rgba(255,255,255,.7);
}
footer .links ul li a:hover {
	color:rgba(255,255,255,.8);
}

.vert {
	display: table-cell;
	vertical-align: middle;
}